/*Font import
-----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab|Droid+Serif:400,400i|Roboto:400,700');

/*Body
-----------------------------------------------*/
html {
	font-size: 16px;
	background: #f8f8f8;
}

/*Nav
-----------------------------------------------*/
nav {
	min-height: 3.125rem;
	background: white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

nav .container-fluid img {
	padding-top: 15px;
}

nav .container-fluid ul > li > a {
	font-family: "Roboto";
	font-size: 0.875rem;
	color: #4a4a4a;
}

nav .container-fluid ul > li > a:hover {
	background: white;
	color: black;
}

nav .container-fluid ul > li > a.active {
	color: #37c2aa;
}