/*Font import
-----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab|Droid+Serif:400,400i|Roboto:400,700');

/*Body
-----------------------------------------------*/
html {
	font-size: 16px;
	background: #f8f8f8;
}

/*Nav
-----------------------------------------------*/
nav {
	min-height: 3.125rem;
	background: white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

nav .container-fluid img {
	padding-top: 15px;
}

nav .container-fluid ul > li > a {
	font-family: "Roboto";
	font-size: 0.875rem;
	color: #4a4a4a;
}

nav .container-fluid ul > li > a:hover {
	background: white;
	color: black;
}

nav .container-fluid ul > li > a.active {
	color: #37c2aa;
}

/*Responsive Queries*/

@media only screen and (max-width: 767px) {
	nav .container-fluid img {
		display: none;
	}
}

/*Jumbotron
-----------------------------------------------*/

.jumbotron {
	margin-top: 3.125rem;
	margin-bottom: 0;
	height: 43.5rem;
	background: url("../images/jumbotron.png") no-repeat center;
	position: relative;
}

.jumbotron .container-fluid {
	max-width: 53.125rem;
	margin-top: 17rem;
}

.jumbotron .container-fluid h1 {
	margin: 0;
	font-family: "Arbutus Slab";
	font-size: 3.75rem;
	color: white;
	background: #d404af;
	text-align: center;
}

.jumbotron .container-fluid p {
	font-family: "Roboto";
	font-size: 1.25rem;
	background: #f5cb07;
	height: 3rem;
	color: #4a4a4a;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Responsive*/

@media only screen and (max-width: 767px) {
	.jumbotron {
		margin-top: 10.9375rem;
		height: 33.5rem;
		position: relative;
	}

	.jumbotron .container-fluid {
		margin-top: 10rem;
	}

	.jumbotron .container-fluid h1 {
		font-size: 2.75rem;
	}

	.jumbotron .container-fluid p {
		font-size: 1rem;
	}
}

/*Quotation
-----------------------------------------------*/
.quotation {
	margin-bottom: -2rem;
}

.quotation .container-fluid {
	width: 83%;
	padding-top: 7rem;
	padding-bottom: 9.25rem;
}

.quotation .container-fluid .row .quote {
	font-family: "Droid Serif";
	font-size: 1.5rem;
	font-style: italic;
	color: #4a4a4a;
	line-height: 1.3;
	margin-bottom: 1rem;
} 

.quotation .container-fluid .row .author {
	font-family: "Roboto";
	font-size: 0.875rem;
	font-style: italic;
	line-height: 1.4;
}

/*Responsive*/

@media only screen and (max-width: 767px) {

	.quotation .container-fluid {
		width: 83%;
		padding-top: 4rem;
		padding-bottom: 5.25rem;
	}
}

/*Why Adhoc?
-----------------------------------------------*/

.whyadhoc {
	position: relative;
	margin: 0 2rem;
}

.whyadhoc .container-fluid .row:first-child {
	border-top: 1px solid #d4d5d6;
	position: absolute;
	width: 100%;
	top: 2rem;
}

.whyadhoc .container-fluid .row:nth-child(2) {
	margin-bottom: 2.25rem;
}

.whyadhoc .container-fluid .row:last-child {
	margin-bottom: 3rem;
}

.whyadhoc .container-fluid .row .title {
	display: flex;
	justify-content: center;
}

.whyadhoc .container-fluid .row .title span {
	font-family: "Arbutus Slab";
	font-size: 3rem;
	display: inline-flex;
	background: white;
	padding: 0 1.25rem;
}

.whyadhoc .container-fluid .row .images {
	text-align: center;
}

.whyadhoc .container-fluid .row .images img {
	max-width: 100%;
}

/*Responsive*/

@media only screen and (max-width: 767px) {

	.whyadhoc .container-fluid .row:first-child {
		top: 1.25rem;
	}

	.whyadhoc .container-fluid .row .title span {
		font-size: 2rem;
	}

	.whyadhoc .container-fluid .row .images {
		padding-bottom: 3rem;
	}

	.whyadhoc .container-fluid .row .images:last-child {
		padding-bottom: 0;
	}
}

/*Team
-----------------------------------------------*/

.team {
	background: #4a4a4a;
	padding-top: 5.5rem;
	padding-bottom: 7.25rem;
	text-align: center;
}

.team .container-fluid .row .title {
	font-family: "Arbutus Slab";
	font-size: 3rem;
	color: white;
	text-align: center;
	margin-bottom: 3.375rem;
}

.team .container-fluid .images img {
	max-width: 100%;
	margin-bottom: 2rem;
}

.team .container-fluid .images p {
	color: white;
}

.team .container-fluid .images .name{
	margin: 0;
	font-weight: bold;
}

/*Responsive*/

@media only screen and (max-width: 767px) {
	.team .container-fluid .images .cell {
		margin-bottom: 2rem;
	}

	.team .container-fluid .images .cell:last-child {
		margin-bottom: 0;
	}
}

/*Clients
-----------------------------------------------*/

.clients .container-fluid {
	position: relative;
	margin: 0 2rem;
}

.clients .container-fluid .row:nth-child(2) {
	border-top: 1px solid #d4d5d6;
	width: 100%;
	margin-top: 5.25rem;
	margin-bottom: 5.5rem;
	margin-left: auto;
	margin-right: auto;
}

.clients .container-fluid .title {
	position: absolute;
	top: 3rem;
	width: 100%;
}

.clients .container-fluid .title .col-xs-12 {
	display: flex;
	justify-content: center;
}

.clients .container-fluid .title .col-xs-12 span {
	font-family: "Arbutus Slab";
	font-size: 3rem;
	display: inline-flex;
	background: white;
	padding: 0 1.25rem;
}

.clients .container-fluid .logos {
	margin-bottom: 5rem;
}

.clients .container-fluid .logos .images {
	text-align: center;
}

.clients .container-fluid .logos .images img {
	max-width: 100%;
	height: auto;
}

/*Responsive*/

@media only screen and (max-width: 767px) {
	.clients .container-fluid .title .col-xs-12 span {
		font-size: 2rem;
	}

	.clients .container-fluid .logos .images {
		padding-bottom: 3rem;
	}

	.clients .container-fluid .logos .images:last-child {
		padding-bottom: 0;
	}
}

/*Footer
-----------------------------------------------*/

footer {
	background: #e9ebeb;
}

footer .container-fluid .social-media .icons,
footer .container-fluid .copyright .text {
	display: flex;
	justify-content: center;
}

footer .container-fluid .social-media .icons {
	margin: 2.625rem 0 1.5rem 0;
	color: #337AB7;
}

footer .container-fluid .social-media .icons i {
	padding-right: 0.25rem;
}

footer .container-fluid .copyright .text {
	margin-bottom: 2rem;
	font-size: 0.75rem;
	color: #212123;
}